<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaoqibu.jiegereader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShowOriginalArticleActivity"
            android:label="@string/title_activity_show_original_article"
            android:launchMode="singleTop"
            android:process=":remote"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SubscriptionCenterActivity"
            android:label="@string/title_activity_subscription_center"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55001af4fd98c55f050007de" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />
    </application>
</manifest>
